{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<a href="/addBook">ADD BOOK PAGE</a>
<a href="/loanBook1">LOAN BOOK PAGE</a>

  <form action="/addClient" method="post">
    <label for="cName">Enter client name</label>
    <input type="text" name="cName" id="cName"><br>
    <label for="cAge">Enter client age</label>
    <input type="text" name="cAge" id="cAge"><br>
    <label for="cCity">Enter client city</label>
    <input type="text" name="cCity" id="cCity"><br>
    <input type="submit" value="submit">
  </form>

  <table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
         {% for item in clients %}
         <tr>
            <td><button onclick="delUser('{{ item[0] }}')">{{ item[0] }}</button></td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
         </tr>
         {% endfor %}
    </tbody>
</table>

<script>
  const delUser=(id)=> {
     console.log(`/delUser${id}`)
     axios.delete(`/delUser${id}`).then(res => console.log(res.data))
  }

</script>
{% endblock %}
