{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<h1 class="important">LOGIN PAGE</h1>
{% if message %}
<p>{{ message }}</p>
{% endif %}
<form action="/" method="post">
    <label for="user">Enter UserName</label>
    <input type="text" name="user" id="user" required><br>
    <input type="submit" value="LOGIN">
</form>
<br>
<a href="/addClient">New User? Sign up here!</a>
{% endblock %}
